<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sponsors And Partners</title>
  <link rel="stylesheet" href="sponsors.css" />
</head>

<body>
  <div class="slider">
    <div class="slide-track">

      <div class="slide">
        <a href="https://aptosfoundation.org/" target="_blank">
          <img class="AllImg" src="./../../images/Sponsors/Aptos.PNG" alt="Aptos">
        </a>
      </div>

      <div class="slide">
        <a href="https://btechnotes.in/" target="_blank">
          <img class="AllImg" src="./../../images/Sponsors/BtechNotes.png" alt="BtechNotes.png">
        </a>
      </div>

      <div class="slide">
        <a href="https://www.campuskarma.in/" target="_blank">
          <img class="AllImg" src="./../../images/Sponsors/CampusKarma.PNG" alt="Campus Karma">
        </a>
      </div>

      <div class="slide">
        <a href="https://codingblocks.com/" target="_blank">
          <img class="AllImg" src="./../../images/Sponsors/CodingBlocks.JPG" alt="Coding Blocks" />
        </a>
      </div>

      <div class="slide">
        <a href="https://devfolio.co/" target="_blank">
          <img class="AllImg" src="./../../images/Sponsors/Devfolio.png" alt="Devfolio" />
        </a>
      </div>

      <div class="slide">
        <a href="https://ethindia.co/" target="_blank" target="_blank">
          <img class="AllImg" src="./../../images/Sponsors/ETHIndia.PNG" alt="ETHIndia" />
        </a>
      </div>

      <div class="slide">
        <a href="https://givemycertificate.com/" target="_blank">
          <img class="AllImg" class="AllImg" src="./../../images/Sponsors/GiveMyCert.JPG" alt="Give My Certificate" />
        </a>
      </div>

      <div class="slide">
        <a href="https://maps.app.goo.gl/H14fpvhY92SnUSqWA" target="_blank">
          <img class="AllImg" src="./../../images/Sponsors/GMPublishers.JPG" alt="GM Publishers & Distributors" />
        </a>
      </div>

      <div class="slide">
        <a href="https://interviewbuddy.net/" target="_blank">
          <img class="AllImg" src="./../../images/Sponsors/InterviewBuddy.png" alt="InterviewBuddy" />
        </a>
      </div>

      <div class="slide">
        <a href="https://kwikpic.in/" target="_blank">
          <img class="AllImg" src="./../../images/Sponsors/Kwikpic.png" alt="Kwikpic" />
        </a>
      </div>

      <div class="slide">
        <a href="https://polygon.technology/" target="_blank">
          <img class="AllImg" src="./../../images/Sponsors/Polygon.JPG" alt="Polygon" />
        </a>
      </div>

      <div class="slide">
        <a href="https://play.google.com/store/apps/details?id=in.spiceclub" target="_blank">
          <img class="AllImg" src="./../../images/Sponsors/Spice.png" alt="Spice" />
        </a>
      </div>




      <!-- Same Doubled Slides -->

      <div class="slide">
        <a href="https://aptosfoundation.org/" target="_blank">
          <img class="AllImg" src="./../../images/Sponsors/Aptos.PNG" alt="Aptos">
        </a>
      </div>

      <div class="slide">
        <a href="https://btechnotes.in/" target="_blank">
          <img class="AllImg" src="./../../images/Sponsors/BtechNotes.png" alt="BtechNotes.png">
        </a>
      </div>

      <div class="slide">
        <a href="https://www.campuskarma.in/" target="_blank">
          <img class="AllImg" src="./../../images/Sponsors/CampusKarma.PNG" alt="Campus Karma">
        </a>
      </div>

      <div class="slide">
        <a href="https://codingblocks.com/" target="_blank">
          <img class="AllImg" src="./../../images/Sponsors/CodingBlocks.JPG" alt="Coding Blocks" />
        </a>
      </div>

      <div class="slide">
        <a href="https://devfolio.co/" target="_blank">
          <img class="AllImg" src="./../../images/Sponsors/Devfolio.png" alt="Devfolio" />
        </a>
      </div>

      <div class="slide">
        <a href="https://ethindia.co/" target="_blank" target="_blank">
          <img class="AllImg" src="./../../images/Sponsors/ETHIndia.PNG" alt="ETHIndia" />
        </a>
      </div>

      <div class="slide">
        <a href="https://givemycertificate.com/" target="_blank">
          <img class="AllImg" class="AllImg" src="./../../images/Sponsors/GiveMyCert.JPG" alt="Give My Certificate" />
        </a>
      </div>

      <div class="slide">
        <a href="https://maps.app.goo.gl/H14fpvhY92SnUSqWA" target="_blank">
          <img class="AllImg" src="./../../images/Sponsors/GMPublishers.JPG" alt="GM Publishers & Distributors" />
        </a>
      </div>

      <div class="slide">
        <a href="https://interviewbuddy.net/" target="_blank">
          <img class="AllImg" src="./../../images/Sponsors/InterviewBuddy.png" alt="InterviewBuddy" />
        </a>
      </div>

      <div class="slide">
        <a href="https://kwikpic.in/" target="_blank">
          <img class="AllImg" src="./../../images/Sponsors/Kwikpic.png" alt="Kwikpic" />
        </a>
      </div>

      <div class="slide">
        <a href="https://polygon.technology/" target="_blank">
          <img class="AllImg" src="./../../images/Sponsors/Polygon.JPG" alt="Polygon" />
        </a>
      </div>

      <div class="slide">
        <a href="https://play.google.com/store/apps/details?id=in.spiceclub" target="_blank">
          <img class="AllImg" src="./../../images/Sponsors/Spice.png" alt="Spice" />
        </a>
      </div>


    </div>
  </div>
</body>

</html>