<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sponsors And Partners</title>
  <link rel="stylesheet" href="sponsors.css" />
</head>

<body>
  <div class="slider">
    <div class="slide-track">
      
      <div class="slide">
        <img src="./../../images/Sponsors/CodingBlocks.png" alt="Coding Blocks" />
      </div>

      <div class="slide">
        <img src="./../../images/Sponsors/CodingNinjas.png" alt="CodingNinjas" />
      </div>

      <div class="slide">
        <img src="./../../images/Sponsors/Devfolio.png"
          alt="Devfolio" />
      </div>

      <div class="slide">
        <img src="./../../images/Sponsors/Filecoin.png" alt="Filecoin" />
      </div>

      <div class="slide">
        <img src="./../../images/Sponsors/HP.png" alt="HP" />
      </div>

      <div class="slide">
        <img src="./../../images/Sponsors/Insightone.png" alt="Insightone"/>
      </div>

      <div class="slide">
        <img src="./../../images/Sponsors/InterviewBuddy.png" alt="InterviewBuddy" />
      </div>

      <div class="slide">
        <img src="./../../images/Sponsors/polygon.png" alt="Polygon" />
      </div>

      <div class="slide">
        <img src="./../../images/Sponsors/replit.png" alt="Replit" />
      </div>

      <div class="slide">
        <img src="./../../images/Sponsors/Solana.png" alt="Solana" />
      </div>

      <div class="slide">
        <img src="./../../images/Sponsors/StockEdge.png" alt="StockEdge" />
      </div>

      <div class="slide">
        <img src="./../../images/Sponsors/Yhills.png" alt="Yhills" />
      </div>

      <div class="slide">
        <img src="./../../images/Sponsors/Youth.png" alt="Youth" />
      </div>




      <!-- Same Doubled Slides -->
      <div class="slide">
        <img src="./../../images/Sponsors/CodingBlocks.png" alt="Coding Blocks" />
      </div>

      <div class="slide">
        <img src="./../../images/Sponsors/CodingNinjas.png" alt="CodingNinjas" />
      </div>

      

      <div class="slide">
        <img src="./../../images/Sponsors/Devfolio.png"
          alt="Devfolio" />
      </div>

      <div class="slide">
        <img src="./../../images/Sponsors/Filecoin.png" alt="Filecoin" />
      </div>

      <div class="slide">
        <img src="./../../images/Sponsors/HP.png" alt="HP" />
      </div>

      <div class="slide">
        <img src="./../../images/Sponsors/Insightone.png" alt="Insightone"/>
      </div>

      <div class="slide">
        <img src="./../../images/Sponsors/InterviewBuddy.png" alt="InterviewBuddy" />
      </div>

      <div class="slide">
        <img src="./../../images/Sponsors/polygon.png" alt="Polygon" />
      </div>

      <div class="slide">
        <img src="./../../images/Sponsors/replit.png" alt="Replit" />
      </div>

      <div class="slide">
        <img src="./../../images/Sponsors/Solana.png" alt="Solana" />
      </div>

      <div class="slide">
        <img src="./../../images/Sponsors/StockEdge.png" alt="StockEdge" />
      </div>

      <div class="slide">
        <img src="./../../images/Sponsors/Yhills.png" alt="Yhills" />
      </div>

      <div class="slide">
        <img src="./../../images/Sponsors/Youth.png" alt="Youth" />
      </div>

    </div>
  </div>
</body>

</html>