<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Sponsors And Partners</title>
  <link rel="stylesheet" href="sponsors.css" />
</head>

<body>
  <div class="slider">
    <div class="slide-track">

      <div class="slide">
        <img src="./../../images/Sponsors/BtechNotes.png" alt="BtechNotes.png">
      </div>

      <div class="slide">
        <img src="./../../images/Sponsors/CampusKarma.PNG" alt="Campus Karma">
      </div>

      <div class="slide">
        <img src="./../../images/Sponsors/CodingBlocks.JPG" alt="Coding Blocks" />
      </div>

      <div class="slide">
        <img src="./../../images/Sponsors/Devfolio.png" alt="Devfolio" />
      </div>

      <div class="slide">
        <img src="./../../images/Sponsors/ETHIndia.PNG" alt="ETHIndia" />
      </div>

      <div class="slide">
        <img src="./../../images/Sponsors/GiveMyCert.JPG" alt="Give My Certificate" />
      </div>

      <div class="slide">
        <img src="./../../images/Sponsors/GMPublishers.JPG" alt="GM Publishers & Distributors"/>
      </div>

      <div class="slide">
        <img src="./../../images/Sponsors/InterviewBuddy.png" alt="InterviewBuddy" />
      </div>

      <div class="slide">
      <img src="./../../images/Sponsors/Kwikpic.png" alt="Kwikpic" />
      </div>

      <div class="slide">
        <img src="./../../images/Sponsors/Polygon.JPG" alt="Polygon" />
      </div>




      <!-- Same Doubled Slides -->
      <div class="slide">
        <img src="./../../images/Sponsors/BtechNotes.png" alt="BtechNotes.png">
      </div>

      <div class="slide">
        <img src="./../../images/Sponsors/CampusKarma.PNG" alt="Campus Karma">
      </div>

      <div class="slide">
        <img src="./../../images/Sponsors/CodingBlocks.JPG" alt="Coding Blocks" />
      </div>

      <div class="slide">
        <img src="./../../images/Sponsors/Devfolio.png" alt="Devfolio" />
      </div>

      <div class="slide">
        <img src="./../../images/Sponsors/ETHIndia.PNG" alt="ETHIndia" />
      </div>

      <div class="slide">
        <img src="./../../images/Sponsors/GiveMyCert.JPG" alt="Give My Certificate" />
      </div>

      <div class="slide">
        <img src="./../../images/Sponsors/GMPublishers.JPG" alt="GM Publishers & Distributors"/>
      </div>

      <div class="slide">
        <img src="./../../images/Sponsors/InterviewBuddy.png" alt="InterviewBuddy" />
      </div>

      <div class="slide">
      <img src="./../../images/Sponsors/Kwikpic.png" alt="Kwikpic" />
      </div>

      <div class="slide">
        <img src="./../../images/Sponsors/Polygon.JPG" alt="Polygon" />
      </div>

    </div>
  </div>
</body>

</html>